In [2]:
people = {
    'first':['John', 'Jane', 'Jim'],
    'last':['Doe', 'Smith', 'Beam'],
    'email':['JohnDoe@email.com', 'JaneSmith@email.com', 'JimBeam@email.com']
}

In [3]:
people['email']

['JohnDoe@email.com', 'JaneSmith@email.com', 'JimBeam@email.com']

In [4]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(people)
df

  first   last                email
0  John    Doe    JohnDoe@email.com
1  Jane  Smith  JaneSmith@email.com
2   Jim   Beam    JimBeam@email.com

In [ ]:
df['email'] # preferred way to access a column

0      JohnDoe@email.com
1    JaneSmith@email.com
2      JimBeam@email.com
Name: email, dtype: str

In [9]:
type(df['email'])

pandas.Series

In [ ]:
df.email # there is a risk if column name is same as DataFrame method or attribute

0      JohnDoe@email.com
1    JaneSmith@email.com
2      JimBeam@email.com
Name: email, dtype: str

In [ ]:
df[['first', 'last']] # passing a list to access multiple columns

  first   last
0  John    Doe
1  Jane  Smith
2   Jim   Beam

In [ ]:
df.columns # to see all column names

Index(['first', 'last', 'email'], dtype='str')

In [15]:
df.iloc[0]  # access first row by position, returns a Series

first                 John
last                   Doe
email    JohnDoe@email.com
Name: 0, dtype: str

In [17]:
df.iloc[[0,2]]  # access first and third rows by position, returns a DataFrame

  first  last              email
0  John   Doe  JohnDoe@email.com
2   Jim  Beam  JimBeam@email.com

In [ ]:
df.iloc[[0,2],2]  # access first and third rows, third column (email)

0    JohnDoe@email.com
2    JimBeam@email.com
Name: email, dtype: str

In [22]:
print(df.loc[0]) # access first row by label, returns a Series
print('\n')  
print(df.loc[0,'email'])  # access first row, email column
print('\n')
df.loc[[0,1]]

first                 John
last                   Doe
email    JohnDoe@email.com
Name: 0, dtype: str


JohnDoe@email.com

  first   last                email
0  John    Doe    JohnDoe@email.com
1  Jane  Smith  JaneSmith@email.com

In [23]:
df.loc[[0,1],['email','last']]  # access first and second rows, email and last columns

                 email   last
0    JohnDoe@email.com    Doe
1  JaneSmith@email.com  Smith