In [17]:
import pandas as pd
import numpy as np

In [18]:
people = {
    'first':['John', 'Jane', 'Jim'],
    'last':['Doe', 'Smith', 'Beam'],
    'email':['JohnDoe@email.com', 'JaneSmith@email.com', 'JimBeam@email.com']
}
df=pd.DataFrame(people)

In [19]:
df.columns

Index(['first', 'last', 'email'], dtype='str')

In [20]:
df.columns = ['first_name', 'last_name', 'email_address']
df

  first_name last_name        email_address
0       John       Doe    JohnDoe@email.com
1       Jane     Smith  JaneSmith@email.com
2        Jim      Beam    JimBeam@email.com

In [21]:
df.columns=[x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME        EMAIL_ADDRESS
0       John       Doe    JohnDoe@email.com
1       Jane     Smith  JaneSmith@email.com
2        Jim      Beam    JimBeam@email.com

In [22]:
df.columns = df.columns.str.replace('_', ' ')
df

  FIRST NAME LAST NAME        EMAIL ADDRESS
0       John       Doe    JohnDoe@email.com
1       Jane     Smith  JaneSmith@email.com
2        Jim      Beam    JimBeam@email.com

In [23]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df

  first_name last_name        email_address
0       John       Doe    JohnDoe@email.com
1       Jane     Smith  JaneSmith@email.com
2        Jim      Beam    JimBeam@email.com

In [25]:
df.rename(columns={'first_name':'first', 'last_name':'last', 'email_address':'email'}, inplace=True)
df

  first   last                email
0  John    Doe    JohnDoe@email.com
1  Jane  Smith  JaneSmith@email.com
2   Jim   Beam    JimBeam@email.com

In [27]:
df.loc[2]=['Jimmy', 'Beam', 'JimmyBeam@email.com']
df

   first   last                email
0   John    Doe    JohnDoe@email.com
1   Jane  Smith  JaneSmith@email.com
2  Jimmy   Beam  JimmyBeam@email.com

In [28]:
df.loc[2, 'email'] = 'JimmyBeam@gmail.com'
df

   first   last                email
0   John    Doe    JohnDoe@email.com
1   Jane  Smith  JaneSmith@email.com
2  Jimmy   Beam  JimmyBeam@gmail.com

In [30]:
df.at[2, 'email'] = 'JimmyBeam@email.com'
df

   first   last                email
0   John    Doe    JohnDoe@email.com
1   Jane  Smith  JaneSmith@email.com
2  Jimmy   Beam  JimmyBeam@email.com