In [1]:
import pandas as pd
import numpy as np

In [2]:
people = {
    'first':['John', 'Jane', 'Jim'],
    'last':['Doe', 'Smith', 'Beam'],
    'email':['JohnDoe@email.com', 'JaneSmith@email.com', 'JimBeam@email.com']
}

In [ ]:
df=pd.DataFrame(people)
df.set_index('email')# sets email as index without modifying original DataFrame

                    first   last
email
JohnDoe@email.com    John    Doe
JaneSmith@email.com  Jane  Smith
JimBeam@email.com     Jim   Beam

In [5]:
df

  first   last                email
0  John    Doe    JohnDoe@email.com
1  Jane  Smith  JaneSmith@email.com
2   Jim   Beam    JimBeam@email.com

In [6]:
df.set_index('email', inplace=True) # modifies the original DataFrame
df

                    first   last
email
JohnDoe@email.com    John    Doe
JaneSmith@email.com  Jane  Smith
JimBeam@email.com     Jim   Beam

In [7]:
df.index

Index(['JohnDoe@email.com', 'JaneSmith@email.com', 'JimBeam@email.com'], dtype='str', name='email')

In [15]:
#print(df.loc['0']) # This will raise an error since the index is now email
print(df.iloc[0]) # Accessing by integer location still works
print('\n')
print(df.loc['JohnDoe@email.com'])
print('\n')
print(df.loc['JohnDoe@email.com', 'first'])

first    John
last      Doe
Name: JohnDoe@email.com, dtype: str


first    John
last      Doe
Name: JohnDoe@email.com, dtype: str


John

In [16]:
df.reset_index(inplace=True)  # Resets index to default integer index
df

                 email first   last
0    JohnDoe@email.com  John    Doe
1  JaneSmith@email.com  Jane  Smith
2    JimBeam@email.com   Jim   Beam